backend/keys/firebase-key.json
backend/keys/studio-8626045391-660a8-firebase-adminsdk-fbsvc-ecf10c7bfe.json
/backend/__pycache__
/frontend/.vscode
*.code-workspace
/.idea
.vscode
/frontend/.env
/backend/.idea
doc/diagrams/Untitled diagram-2025-12-14-183941.svg
doc/diagrams/Untitled diagram-2025-12-14-184057.svg
doc/diagrams/Untitled diagram-2025-12-14-184140.svg
doc/diagrams/mihai/Untitled diagram-2025-12-14-183941.svg
doc/diagrams/mihai/Untitled diagram-2025-12-14-184057.svg
doc/diagrams/mihai/Untitled diagram-2025-12-14-184140.svg
